---
name: Release to PyPI

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 5

    permissions:
      contents: read

    steps:
      - name: Checkout the code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: poetry install

      - name: Build package
        run: poetry build

      - name: Store release files
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: release
          path: dist/

  upload:
    # This job cannot currently run on ARM because of https://github.com/pypa/gh-action-pypi-publish/issues/356.
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    needs:
      - build

    permissions:
      id-token: write

    steps:
      - name: Fetch release files
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: release
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
